body {
    background-color: #bfc0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
}

.ks-page-content {
    margin-top: 5px;
}

.ks-messenger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    height: 100%;
}

.ks-messenger .ks-discussions {
    background: #9174fa;
    width: 70px;
    border-right: 1px solid #dee0e1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 4px 0 4px 0; */
}

.ks-messenger .ks-discussions > .ks-search > .input-icon {
    width: 100%;
}

.ks-messenger .ks-discussions > .ks-search .form-control {
    border: none;
    padding: 28px 20px;
}

.ks-messenger .ks-discussions > .ks-search .icon-addon {
    color: rgba(58, 82, 155, 0.6);
}

.ks-messenger .ks-discussions > .ks-body .ks-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ks-messenger .ks-discussions > .ks-body .ks-items > .ks-item {
    border-bottom: 1px solid #dee0e1;
}

.ks-messenger .ks-discussions > .ks-body .ks-items > .ks-item > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    padding: 15px 20px;
}

.ks-messenger .ks-discussions > .ks-body .ks-items > .ks-item > a > .ks-avatar {
    position: relative;
    top: 3px;
    margin-right: 12px;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item
    > a
    > .ks-avatar
    > img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ks-messenger .ks-discussions > .ks-body .ks-items > .ks-item > a > .ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item
    > a
    > .ks-body
    > .ks-message {
    font-size: 12px;
    color: #858585;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    width: 80%;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item
    > a
    > .ks-body
    > .ks-message
    > img {
    position: relative;
    top: -2px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item
    > a
    > .ks-body
    > .ks-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    margin-bottom: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item
    > a
    > .ks-body
    > .ks-name
    > .ks-datetime,
.ks-tes-datetime {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    color: #858585;
    position: relative;
    top: 3px;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item.ks-active
    > a
    > .ks-group-amount {
    background-color: rgba(57, 81, 155, 0.1);
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item.ks-unread
    > a
    > .ks-body
    > .ks-message {
    color: #333;
}

.ks-messenger
    .ks-discussions
    > .ks-body
    .ks-items
    > .ks-item.ks-unread
    > a
    > .ks-group-amount {
    background-color: rgba(222, 187, 12, 0.2);
}

.ks-messenger .ks-messages,
.ks-messenger__messages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #fff;
}

.ks-messenger .ks-messages > .ks-header,
.ks-messenger__messages > .ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #dee0e1;
    padding: 9px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ks-messenger .ks-messages > .ks-header > .ks-description > .ks-name,
.ks-messenger__messages > .ks-header > .ks-description > .ks-name {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.ks-messenger .ks-messages > .ks-body,
.ks-messenger__messages > .ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ks-messenger .ks-messages > .ks-body .ks-items,
.ks-messenger__messages > .ks-body .ks-items {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-separator,
.ks-messenger__messages > .ks-body .ks-items > .ks-separator {
    color: #858585;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item,
.ks-messenger__messages > .ks-body .ks-items > .ks-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    margin-bottom: 12px;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item > .ks-body,
.ks-messenger__messages > .ks-body .ks-items > .ks-item > .ks-body {
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 12px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2px;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header
    > .ks-name,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header
    > .ks-name {
    font-weight: 500;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header
    > .ks-datetime,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item
    > .ks-body
    > .ks-header
    > .ks-datetime,
.ks-tes-datetime {
    font-size: 10px;
    text-transform: uppercase;
    color: #858585;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item.ks-self > .ks-avatar,
.ks-messenger__messages > .ks-body .ks-items > .ks-item.ks-self > .ks-avatar {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item.ks-self > .ks-body,
.ks-messenger__messages > .ks-body .ks-items > .ks-item.ks-self > .ks-body {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    border: solid 1px #dee0e1;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 14px;
    margin-right: 50px;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item.ks-self
    > .ks-body:before,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item.ks-self
    > .ks-body:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 10px solid #dee0e1;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 10px solid transparent;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item.ks-self
    > .ks-body:after,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item.ks-self
    > .ks-body:after {
    content: "";
    display: block;
    position: absolute;
    left: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 10px solid transparent;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item.ks-from > .ks-avatar,
.ks-messenger__messages > .ks-body .ks-items > .ks-item.ks-from > .ks-avatar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.ks-messenger .ks-messages > .ks-body .ks-items > .ks-item.ks-from > .ks-body,
.ks-messenger__messages > .ks-body .ks-items > .ks-item.ks-from > .ks-body {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    background-color: #eff1f7;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 14px;
    margin-left: 50px;
}

.ks-messenger
    .ks-messages
    > .ks-body
    .ks-items
    > .ks-item.ks-from
    > .ks-body:before,
.ks-messenger__messages
    > .ks-body
    .ks-items
    > .ks-item.ks-from
    > .ks-body:before {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #eff1f7;
}

.ks-messenger .ks-messages > .ks-footer,
.ks-messenger__messages > .ks-footer {
    padding: 15px 20px;
    border-top: 1px solid #dee0e1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}

.ks-messenger .ks-messages > .ks-footer > .form-control,
.ks-messenger__messages > .ks-footer > .form-control {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 38px;
    overflow: hidden;
    resize: none;
    margin-right: 20px;
}

.ks-messenger .ks-messages > .ks-footer > .ks-controls,
.ks-messenger__messages > .ks-footer > .ks-controls {
    text-align: right;
    width: 207px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ks-messenger .ks-info > .ks-header,
.ks-messenger__info > .ks-header {
    border-bottom: 1px solid #dee0e1;
    line-height: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    padding: 20px;
}

.ks-messenger .ks-info > .ks-body,
.ks-messenger__info > .ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px;
}

.ks-messenger .ks-info > .ks-body > .ks-item + .ks-item,
.ks-messenger__info > .ks-body > .ks-item + .ks-item {
    margin-top: 10px;
}

.ks-messenger .ks-info > .ks-body > .ks-item.ks-user,
.ks-messenger__info > .ks-body > .ks-item.ks-user {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}

.ks-messenger .ks-info > .ks-body > .ks-item.ks-user > .ks-avatar,
.ks-messenger__info > .ks-body > .ks-item.ks-user > .ks-avatar {
    margin-right: 12px;
}

.ks-messenger .ks-info > .ks-body > .ks-item.ks-user > .ks-name,
.ks-messenger__info > .ks-body > .ks-item.ks-user > .ks-name {
    line-height: 31px;
    color: #333;
}

.ks-messenger .ks-info > .ks-body > .ks-item > .ks-name,
.ks-messenger__info > .ks-body > .ks-item > .ks-name {
    color: #858585;
    margin-bottom: 3px;
}

.ks-messenger .ks-info > .ks-body > .ks-list > .ks-header,
.ks-messenger__info > .ks-body > .ks-list > .ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #858585;
    margin-bottom: 15px;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item,
.ks-messenger__info > .ks-body > .ks-list .ks-item {
    margin-bottom: 15px;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item.ks-user,
.ks-messenger__info > .ks-body > .ks-list .ks-item.ks-user {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item.ks-user > .ks-avatar,
.ks-messenger__info > .ks-body > .ks-list .ks-item.ks-user > .ks-avatar {
    margin-right: 12px;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item.ks-user > .ks-name,
.ks-messenger__info > .ks-body > .ks-list .ks-item.ks-user > .ks-name {
    line-height: 31px;
    color: #333;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item > .ks-owner,
.ks-messenger__info > .ks-body > .ks-list .ks-item > .ks-owner {
    position: relative;
    top: 1px;
}

.ks-messenger .ks-info > .ks-body > .ks-list .ks-item > .ks-owner > .ks-name,
.ks-messenger__info > .ks-body > .ks-list .ks-item > .ks-owner > .ks-name {
    display: block;
    line-height: 13px;
}

.ks-messenger
    .ks-info
    > .ks-body
    > .ks-list
    .ks-item
    > .ks-owner
    > .ks-label-sm,
.ks-messenger__info > .ks-body > .ks-list .ks-item > .ks-owner > .ks-label-sm {
    padding: 2px;
    font-size: 9px;
}

.ks-messenger .ks-info > .ks-footer,
.ks-messenger__info > .ks-footer {
    padding: 20px;
    border-top: 1px solid #dee0e1;
}

.ks-messenger .ks-info > .ks-footer > .ks-item + .ks-item,
.ks-messenger__info > .ks-footer > .ks-item + .ks-item {
    margin-top: 10px;
}

.ks-messenger .ks-info > .ks-footer > .ks-item > .ks-name,
.ks-messenger__info > .ks-footer > .ks-item > .ks-name {
    color: #858585;
    margin-bottom: 3px;
}

.ks-messenger .ks-info > .ks-footer > .btn-block,
.ks-messenger__info > .ks-footer > .btn-block {
    margin-top: 15px;
}

::-webkit-scrollbar {width: 5px}

::-webkit-scrollbar-thumb {background-color: rgb(73, 73, 243)}

.ks-scrollable {overflow-x: hidden;}

.jspTrack {background-color: grey;}

* {
    user-select: none;
    -webkit-user-drag: none;
}

.ks-message {user-select: text;}

a {text-decoration: none !important;}

.ks-body {background-color: white;}

.tesModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.modalAvatar {
    margin-bottom: 10px;
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.modalAvatar img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.modalAvatar .editAvatar {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(94, 94, 94, 0.473);
    z-index: -1;
    cursor: pointer;
}

.modalAvatar:hover > .editAvatar {z-index: 20;}

.ks-discussions .ks-avatar {cursor: pointer;}

.ks-tes-datetime {
    position: absolute;
    top: -10px;
    right: 0;
}

.tes {position: relative;width: 100%;}

.ks-datetime.more {opacity: 0}

.ks-body:hover > .ks-header .ks-datetime.more {opacity: 1;cursor: pointer;}

a { cursor: pointer;}

.search-bar {
    width: 80vh;
    opacity: .7;
}

.modalAvatar {
    color: transparent;
    transition: all 0.3s ease;
    position: relative;
    transition: all 0.3s ease;
}
.modalAvatar input {display: none;}

.modalAvatar .label {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.modalAvatar span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
  }

.modalAvatar:hover > .label {
    background-color: rgba(80, 80, 80, 0.8);
    z-index: 10000;
    color: rgb(255, 255, 255);
    transition: background-color .2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
  }

.ks-discussions .bawah, .ks-discussions .atas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.ks-discussions .bawah a, .ks-discussions .atas a{
    width: 75%;
    aspect-ratio: 10/8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.ks-discussions .bawah a:hover, .ks-discussions .atas a:hover{
    /* box-shadow: inset 0 0 2px black; */
    background-color: rgba(255, 255, 255, 0.185);
}

ul.ks-items { display:flex; flex-direction:column-reverse;}

.ks-item{ margin-top: 0 !important; margin-bottom: 4px !important;}

.search{left: 30px;}

.search-bar.keep-open{display:block !important;}

.btn.cancel:hover{background-color: red;}

.btn.confirm:hover{background-color: green;}

input.form-control{box-shadow: none !important;}
