*{
    /* outline: solid 1px red; */
    /* color: red; */
    user-select: none;
    -webkit-user-drag: none;
    text-decoration: none !important;

}

::-webkit-scrollbar{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(145, 138, 248, 0.664);
    border-radius: 2px;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
    height: 3.125rem;
    padding: 0.75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:-webkit-autofill ~ label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #bfc0ff;
}

.container{
    height:95%;
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    /* background-color: black; */
}

.profile{
    width: 30%;
    height: 98%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d8d4ff;
}
.profile .img{
    overflow: hidden;
}
.profile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.joined{
    width: 70%;
    height: 98%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d8d4ff;

}

.atas, .bawah{
    width: 100%;
}

.profile .atas{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile .atas .img{
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile .bawah{
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.profile .bawah .circle{
    /* width: 50px; */
    width: calc(100% / 5);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #8284f8d7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.profile .atas h2{
    margin-top: 10px;
}
.joined .bawah{
    height: 90%;
    overflow-y: scroll;
}
.joined .scrollable{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.room{
    width: 90%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #8284f8d7;
    color: white;
    text-decoration: none;
}

.room:hover, .profile .bawah .circle:hover{
    background-color: #a4a6fdd7;
}
.room .profil-group{
    aspect-ratio: 1/1;
    height: 70%;
    border-radius: 20%;
    background-color: rgb(115, 115, 255);
    overflow: hidden;
    opacity: .8;
}

.room .nama{
    outline: none;
    font-weight: 400;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.room .nama .kode{
    outline: none;
    opacity: .6;
    font-size: 15px;
}
.joined .atas{
    height: 10%;
    /* padding: 10px; */
    padding-left: 30px;
    padding-top: 5px;
    background-color: #b4adf5;
    display: flex;
    align-items: center;
}

.joined .atas h4{
    color: rgb(115, 115, 255);
}
.modalAvatar {
    margin: 10px;
    width: 230px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.modalAvatar img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.modalAvatar {
    color: transparent;
    transition: all 0.3s ease;
    position: relative;
    transition: all 0.3s ease;
}
.modalAvatar input {display: none;}

.modalAvatar .label {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* color: rgba(240, 248, 255, 0); */
}

.modalAvatar span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
  }

.modalAvatar:hover > .label {
    background-color: rgba(80, 80, 80, 0.8);
    z-index: 10000;
    color: rgb(255, 255, 255);
    transition: background-color .2s ease-in-out;
    border-radius: 50%;
    margin-bottom: 0;
}

.tesModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar{
    aspect-ratio: 1/1;
    width: calc(100% * 2 /3);
    border-radius: 50%;
    overflow: hidden;
}

.kontenModal{
    /* background-color: black; */
    padding-top: 20px;
    width: 350px;
}

.kontenModal input{
    margin-top: 10px;
}

.profil-group img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.boxRoom{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    overflow-y:scroll ;
    /* background: black; */
}
