::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0275d8;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dataTables_empty {
    text-align: center;
}